

<section class="hero-cow text-center">
  <h1>hey, you!</h1>
  <h3>search your way to a happier tummy with NoMoo</h3>
  <div>
    <%= image_tag "cow.png" %>
  </div>
  <h3>dairy-free recipes just for you</h3>
</section>
